.innerContentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 0;
}

.btnWrapper, .outputWrapper {
	text-align: center;
	margin-bottom: 15px;
}

video#player {
	max-width: 100%;
}

.hidden {
	visibility: hidden;
}

img, video {
	max-width: 100%;
	width: 100%;
}

#imgOutputLink, .progress {
	margin: 20px 0;
}