.innerContentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 0;
}

.btnWrapper, .outputWrapper {
	text-align: center;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.outputWrapper {
	flex-direction: column;
}

@media screen and (max-width: 425px) {
	.btnWrapper {
		flex-direction: column;
	}
}

video#player {
	max-width: 100%;
}

.hidden {
	visibility: hidden;
}

img, video {
	max-width: 100%;
	width: 100%;
}

#imgOutputLink, .progress {
	margin: 20px 0;
}

label {
	margin-top: 20px;
}

.btn {
	max-width: 100%;
}

input.btn {
	display: none;
}